flynt-component[name="NavigationFooterSmall"] {
  background-position: center;
  background-size: cover;


  .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
  }


  .wrapper{
    padding: 0 6.8rem;
    inline-size: 144rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    block-size: 11rem;

  }

  .logo{
    block-size: 3rem;
    inline-size: 13.2rem;
  }

  .links{
    padding: 0 5.5rem;
    display: flex;
    gap: 4rem;
    font-size: 1.5rem;
    font-weight: 400;
    font-variation-settings: 'CRSV' 0;
  }

  .link{
    color: #ffff;
    text-decoration: none;
  }

  .privacy-link {
    color: rgba(255, 255, 255);
    font-size: 1.4rem;
    font-weight: 300;
    opacity: 0.5;
    text-decoration: none;
    margin-left: 26.8rem;
  }

  .legal{
    margin-left: 5rem;
    block-size: 2.2rem;
  }
}
