flynt-component[name='NavigationFooterSmall'] {
  background-position: center;
  background-size: cover;
  inset-block-end: 0;
  position: relative;

  .overlay {
    background-color: rgba(0, 0, 0, 0.8);
    block-size: 100%;
    inline-size: 100%;
  }


  .wrapper {
    align-items: center;
    block-size: 11rem;
    display: flex;
    inline-size: 144rem;
    margin-block: 0;
    margin-inline: auto;
    padding-block: 0;
    padding-inline: 6.8rem;

  }

  .logo {
    block-size: 3rem;
    inline-size: 13.2rem;
  }

  .links {
    display: flex;
    font-size: 1.5rem;
    font-variation-settings: 'CRSV' 0;
    font-weight: 400;
    gap: 4rem;
    padding-block: 0;
    padding-inline: 5.5rem;
  }

  .link {
    color: #ffff;
    text-decoration: none;
  }

  .privacy-link {
    color: rgba(255, 255, 255);
    font-size: 1.4rem;
    font-weight: 300;
    margin-inline-start: 26.8rem;
    opacity: 0.5;
    text-decoration: none;
  }

  .legal {
    block-size: 2.2rem;
    margin-inline-start: 5rem;
  }
}
