flynt-component[name='NavigationTop'] {
  background-color: #0F0F0F;
  color: var(--color-text-inverse);
  font-family: var(--font-family-body);
  font-size: var(--font-size-small);



  
  @media (max-width: $breakpoint-tablet-horizontal) {
    font-size: var(--font-size-small);
  }

  .banner-top{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8rem;
    height: 4rem; 
    font-size: 1.4rem;
    font-weight: 400;
    max-width: 144rem;
  }

  .link{
    color: #D5D8FF;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    transition: all 0.3s ease;
    &:hover {
      opacity: 0.8;
    }

    @media(max-width: $breakpoint-tablet-horizontal) {
      display: none;
    }
  }
}
