flynt-component[name='NavigationTop'] {
  background-color: #0F0F0F;
  color: var(--color-text-inverse);
  font-family: var(--font-family-body);
  font-size: var(--font-size-small);
  text-align: center;

  
  @media (max-width: $breakpoint-tablet-horizontal) {
    font-size: var(--font-size-small);
  }

  .banner{
    display: flex;
    justify-content: center;
    gap: 48.2%;
    align-items: center;
    height: 5.4rem; 
    font-size: 14pt;
    font-weight: 400;
    font-family: 'Geologica', sans-serif;
  }

  .link{
    color: #D5D8FF;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 2.3rem;
    transition: all 0.3s ease;
    &:hover {
      opacity: 0.8;
    }

    @media(max-width: $breakpoint-tablet-horizontal) {
      display: none;
    }
  }
}
