
flynt-component[name='NavigationTop'] {
  display: none;
}

.home flynt-component[name='NavigationTop'] {
  background-color: #0f0f0f;
  color: var(--color-text-inverse);
  display: block;
  font-family: var(--font-family-body);
  font-size: var(--font-size-small);

  .banner-top {
    align-items: center;
    block-size: 4rem;
    display: flex;
    font-size: 1.4rem;
    font-weight: 400;
    justify-content: space-between;
    margin: auto;
    max-inline-size: 144rem;
    padding-block: 0;
    padding-inline: 8rem;
  }

  .link {
    align-items: center;
    color: #d5d8ff;
    display: flex;
    gap: 1.6rem;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.8;
    }

    @media(max-width: $breakpoint-tablet-horizontal) {
      display: none;
    }
  }
}
