<flynt-component load:on="idle" name="NavigationTop">
  <div class="banner-top">
    {% if label %}
      <p>{{ label }} </p>  
    {% endif %}
    {% if button %}
      <a href="{{ button.url }}" class="link">{{ button.title }}
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.3555 18.6445C16.1298 17.896 19.3933 13.4188 18.6447 8.64455C17.8961 3.87029 13.4189 0.606858 8.64462 1.35545C3.87033 2.10405 0.606851 6.5812 1.35544 11.3555C2.10403 16.1297 6.58121 19.3931 11.3555 18.6445Z" fill="#D5D8FF"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.74707 8.48475L7.74316 10.1475L8.71084 10.1494C8.74271 10.1586 8.72387 10.1515 8.74028 10.1676L8.738 14.6997H10.743L10.743 10.1561C11.2861 10.1573 11.3342 10.1561 12.0784 10.1471L12.254 8.48865L10.7435 8.48645C10.7423 8.20005 10.6803 7.29383 10.8727 7.1163C11.1003 6.90609 11.8674 6.99633 12.237 6.98065L12.2423 5.31366C11.975 5.30402 10.8334 5.30601 10.5922 5.32463C10.0961 5.36298 9.64473 5.51144 9.35635 5.75662C8.64246 6.36356 8.7433 7.36346 8.73793 8.48482L7.74707 8.48475Z" fill="#0F0F0F"/>
        </svg>
      </a>
    {% endif %}
  </div>
</flynt-component>
