
.home flynt-component[name='NavigationMain'] {

  background-color: transparent;
  box-shadow: none;
  color: #fff;
  font-size: var(--font-size-body);
  inline-size: 100%;
  inset-inline: 0;
  margin-block: 0;
  margin-inline: auto;
  max-inline-size: 144rem;
  position: absolute;
  z-index: 10;
  --navigation-height: 13rem;



  @media (max-width: $breakpoint-tablet-horizontal) {
    display: none;
  }

  .navigation {
    align-items: center;
    block-size: 10.5rem;
    display: flex;
    justify-content: space-between;
    padding-block: 0;
    padding-inline: 8rem;
    transition: all 0.3s ease-in-out;
  }

  .button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    inline-size: 15.6rem;
    margin-inline: 0 1.5rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}


flynt-component[name='NavigationMain'] {

  box-shadow: 0 0 4rem 0 #f5f5f5;
  color: var(--color-text);
  font-size: var(--font-size-body);
  inline-size: 100%;
  z-index: 10;
  --navigation-height: 13rem;



  @media (max-width: $breakpoint-tablet-horizontal) {
    display: none;
  }

  .navigation {
    align-items: center;
    block-size: 11.9rem;
    display: flex;
    justify-content: space-between;
    margin-block: 0;
    margin-inline: auto;
    max-inline-size: 144rem;
    padding-block: 0;
    padding-inline: 6.8rem;
    transition: all 0.3s ease-in-out;
  }

  .button {
    background-color: #10001d;
    border: 0;
    color: #fff;
    margin-inline-end: 1.6rem;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.9;
    }
  }
}



@import 'Partials/logo';
@import 'Partials/menu';
