flynt-component[name='NavigationMain'] {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  --navigation-height: 13rem;
  background-color: transparent;
  color: var(--color-text);
  font-size: var(--font-size-body);
  z-index: 10;



  @media (max-width: $breakpoint-tablet-horizontal) {
    display: none;
  }

  .navigation {
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10.5rem;
    padding: 0 8rem;
  }

.button{
  margin-right: 1.5rem;
  margin-left: -12rem;
  transition: all 0.3s ease;
  &:hover{
    background-color: rgba(0,0,0,0.2);
  }
}

  @import 'Partials/logo';
  @import 'Partials/menu';
  @import 'Partials/languages';
}
