flynt-component[name="NavigationFooter"] {
  background-image: var(--footer-bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--color-text-white);
  font-size: var(--font-size-body-small);
  overflow: hidden;
  letter-spacing: -0.01rem;

  .footer-container{
    display: flex;
    height: 48.7rem;    
    margin: 0 auto;
  }


  h1{
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-secondary);
    margin-bottom: 0.9rem;
  }
  p{
    font-size: 1.4rem;
    font-weight: 300;
  }

  .footer-left {
    flex: 58;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5.4rem 5.7rem 0rem 8rem;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .contact-info {
    display: flex;
    border-collapse: collapse;
    padding-bottom: 4.5rem;
  }

  .item{
    flex: 0 0 30.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 2rem;
    width: 20rem;
  }


  .item:last-child{
    flex: 0 0 30rem;
  }

  .socials {
    display: flex;
    align-items: center;
    padding: 3.4rem 0 3.2rem 0;
    gap: 19rem;
    h1{
      margin: 0;
      word-spacing: 0.01rem;
    }
  }

  .left-section{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 70.2rem;
  }

  .icon{
    width: 3.09rem;

}

  .footer-right {
    background-color: rgba(0, 0, 0, 0.85);
    flex: 50;
  }


  .logo-footer{
    inline-size: 13.2rem;
    margin-right:2.6rem;
  }


  .legal{
    inline-size: 13.8rem;
  }


  .privacy-link{
    color: rgba(255, 255, 255);
    opacity: 0.5;
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 300;
  }


  .footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.6rem 0 3.6rem 0;
    border: none;
    height: 100%;

  }

  @import 'Partials/menu';
}


