flynt-component[name="NavigationFooter"] {
  background-image: var(--footer-bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  color: var(--color-text-white);
  font-size: var(--font-size-body-small);
  overflow: hidden;
  height: 64.76rem;
  letter-spacing: -0.01rem;


  h1{
    font-size: 14pt;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-secondary);
  }
  p{
    font-size: 14pt;
    font-weight: 300;
  }

  .footer-left {
    flex: 0 0 58.2%;
    display: flex;
    flex-direction: column;
    padding: 7rem 7.4rem 0 10.6rem;
    width: 100%;
    min-height: 64.75rem;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .contact-info {
    display: flex;
    border-collapse: collapse;
    padding-bottom: 6rem;
  }

  .item{
    flex: 0 0 43.3%;
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
    line-height: 20pt;
  }

  .item:last-child{
    flex: 0 0 40%;
  }

  .socials {
    display: flex;
    align-items: center;
    gap: 27%;
    padding: 4.6rem 0 4.3rem 0;
  }

  .left-section{
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  }

  .icon{
    width: 4rem;
    height: 4rem;
    margin-top: 1px;
  }

  .footer-right {
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
  }


  .logo-footer{
    margin: 0.1rem 3rem 0 0;
    width: 17.5rem;
  }


  .legal{
    margin-top: 0.3rem;
    width: 18.8rem;
  }


  .privacy-link{
    color: rgba(255, 255, 255);
    opacity: 0.5;
    font-size: 14pt;
    text-decoration: none;
    font-weight: 300;
  }


  .footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.2rem 0 3.6rem 0;
    border: none;
    height: 100%;
  }

  @import 'Partials/menu';
}


