flynt-component[name='NavigationFooter'] {
  background-image: (--footer-bg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-size: var(--font-size-body-small);
  letter-spacing: -0.008rem;
  overflow: hidden;

  .footer-container {
    block-size: 48.7rem;
    display: flex;
    margin-block: 0;
    margin-inline: auto;
  }

  
  h1 {
    color: var(--color-secondary);
    font-size: 1.4rem;
    font-weight: 400;
    margin-block-end: 0.9rem;
    text-transform: uppercase;
  }

  p {
    font-size: 1.4rem;
    font-weight: 300;
  }

  .footer-left {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex: 58;
    flex-direction: column;
    justify-content: center;
    padding-block: 5.4rem 0;
    padding-inline: 8rem 5.7rem;
  }

  .contact-info {
    border-collapse: collapse;
    display: flex;
    padding-block-end: 4.5rem;
  }

  .item {
    display: flex;
    flex: 0 0 30.5rem;
    flex-direction: column;
    gap: 1rem;
    inline-size: 20rem;
    line-height: 2rem;
  }


  .item:last-child {
    flex: 0 0 30rem;
  }

  .socials {
    align-items: center;
    display: flex;
    gap: 19rem;
    padding-block: 3.4rem 3.2rem;
    padding-inline: 0;

    h1 {
      margin: 0;
      word-spacing: 0.01rem;
    }
  }

  .left-section {
    border-block-end: 0.1rem solid rgba(255, 255, 255, 0.1);
    inline-size: 70.2rem;
  }

  .icon {
    inline-size: 3.09rem;

  }

  .footer-right {
    background-color: rgba(0, 0, 0, 0.85);
    flex: 50;
  }


  .logo-footer {
    inline-size: 13.2rem;
    margin-inline-end: 2.6rem;
  }


  .legal {
    inline-size: 13.8rem;
  }


  .privacy-link {
    color: rgba(255, 255, 255);
    font-size: 1.4rem;
    font-weight: 300;
    opacity: 0.5;
    text-decoration: none;
  }


  .footer-bottom {
    align-items: center;
    block-size: 100%;
    border: 0;
    display: flex;
    justify-content: space-between;
    padding-block: 3.6rem;
    padding-inline: 0;

  }

  @import 'Partials/menu';
}


.page-id-22 flynt-component[name="NavigationFooter"],
.page-id-3 flynt-component[name="NavigationFooter"] {
  display: none;
}
