flynt-component[name='BlockMap'] {
  background-color: #bababa40;

  .wrapper {
    inline-size: 144rem;
    margin-block: 0;
    margin-inline: auto;
    padding-block: 8rem;
    padding-inline: 8rem;
  }
  
  .heading {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-block: 0 2.4rem;
    padding-inline: 0;

    h1 {
      font-size: 2rem;
      font-variation-settings: 'CRSV' 0;
      font-weight: 600;
    }

    img {
      inline-size: 3.6rem;
    }
  }

  iframe {
    block-size: 28rem;
    inline-size: 140rem;
  }

} 
