flynt-component[name='BlockMap'] {
  background-color: #BABABA40;

  .wrapper{
    inline-size: 144rem;
    padding: 8rem 8rem;
    margin: 0 auto;
  }
  
  .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0 2.4rem 0;

    h1{
      font-size: 2rem;
      font-weight: 600;
      font-variation-settings: 'CRSV' 0;
    }

    img{
      inline-size: 3.6rem;
    }
  }

  iframe{
    inline-size: 140rem;
    block-size: 28rem;
  }

} 
