flynt-component[name='BlockTeam'] {  
  background-color: #090010;
  block-size: 85rem;

  .team-wrapper {
    margin-block: 0;
    margin-inline: auto;
    max-inline-size: 144rem;
  }

  .team-container {
    align-items: center;
    border-block-end: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    gap: 13rem;
    inline-size: 128rem;
    margin-block: 0;
    margin-inline: auto;
    padding-block-end: 5.4rem;
    position: relative;
    
    h2 {
      color: var(--color-secondary);
      font-size: 1.5rem;
      font-weight: 500;
      margin-block-start: 13.9rem;
      text-transform: uppercase;
    }

    h1 {
      font-size: 4.5rem;
      font-weight: 800;
      inline-size: 50rem;
      margin-block-start: 14.5rem;
    }

    p {
      font-size: 1.5rem;
      font-weight: 300;
      inline-size: 52rem;
      letter-spacing: 0.012rem;
      line-height: 2.1rem;
      margin-block-start: 2.4rem;
    }
  }

  .bubble {
    align-items: center;
    block-size: 12.2rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-size: 1.4rem;
    inline-size: 12.2rem;
    inset-block-start: 6.2rem;
    inset-inline-end: 2.5rem;
    justify-content: center;
    letter-spacing: 0.02rem;
    position: absolute;
    rotate: 18deg;
    text-align: center;
  }


  .team-skills {
    align-items: center;
    display: flex;
    gap: 11.2rem;
    inline-size: 128rem;
    margin-block: 0;
    margin-inline: auto;
    padding-block-start: 5.1rem;
    
    .skill-title {
      font-size: 1.5rem;
      font-weight: 700;
      inline-size: 20rem;
    }

    p {  
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 100rem;
      font-size: 1.5rem;
      letter-spacing: 0.01rem;
      padding-block: 0.95rem;
      padding-inline: 1.5rem;
      transition: all 0.3s ease;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    .skills-list {
      display: flex;
      gap: 1.5rem;
    }
  }

  .bottom-image {
    inline-size: 127.8rem;
    margin-block: 0;
    margin-inline: auto;
    padding-block-start: 5rem;
  }
}
