flynt-component[name='BlockTeam'] {  
  background-color: #090010;
  height: 85rem;

  .team-wrapper{
    max-width: 144rem;
    margin: 0 auto;
  }

  .team-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    gap: 13rem;
    padding-bottom: 5.4rem;
    width: 128rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    
    h2{
      font-size: 1.5rem;
      text-transform: uppercase;
      color: var(--color-secondary);
      font-weight: 500;
      margin-top: 13.9rem;
    }

    h1{
      font-size: 4.5rem;
      font-weight: 800;
      width: 50rem;
      margin-top: 14.5rem;
    }

    p{
      font-size: 1.5rem;
      font-weight: 300;
      width: 52rem;
      margin-top: 2.4rem;
      line-height: 2.1rem;
      letter-spacing: 0.012rem;
    }
  }

  .bubble{
    width: 12.2rem;
    height: 12.2rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    rotate: 18deg;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 0.02rem;
    position: absolute;
    top: 6.2rem;
    right: 2.5rem;
  }


  .team-skills{
    margin: 0 auto;
    width: 128rem;
    padding-top: 5.1rem;
    display: flex;
    gap: 11.2rem;
    align-items: center;
    
    .skill-title{
      font-size: 1.5rem;
      font-weight: 700;
      width: 20rem;
    }

    p{
      font-size: 1.5rem;
      padding: 0.95rem 1.5rem;  
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 100rem;
      letter-spacing: 0.01rem;
      transition: all 0.3s ease;
      &:hover{
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
    .skills-list{
      display: flex;
      gap: 1.5rem;
    }
  }

  .bottom-image{
    inline-size: 127.8rem;
    padding-top: 5rem;
    margin: 0 auto;
  }
}