flynt-component[name='BlockAbout'] {
  position: relative;
  background-color: #10001D;
  overflow: hidden;
  background-size: cover;

  .about-container {
    max-width: 144rem;
    margin: 0 auto;
  }

  .about-title{
    margin-top: 14.1rem;
    text-align: center;
    width: 95rem;
    height: 38rem;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--color-secondary);
    font-weight: 500;
    letter-spacing: 0.01rem;
  }

  h2 {
    font-size: 3rem;
    font-weight: 300;
    margin-top: 3rem;
    line-height: 3.8rem;
  }

  p {
    margin-top:11rem;
    width: 45rem;
    margin-left: 12.8rem;
    line-height: 1.9rem;
    letter-spacing: 0.012rem;
    line-height: 2.1rem;
  }

  .bubble {
    width: 12.2rem;
    height: 12.2rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 0.02rem;
    position: absolute;
    top: -5.2rem;
    right: 8rem;
  }

  .about-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 8rem;
  }

  .about-image{
    inline-size: 60.2rem;
  }

  .about-description{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    height: 34.5rem;
    width: 67.8rem;
  }
}

/* NOISE OVERLAY */
flynt-component[name='BlockAbout']::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("https://grainy-gradients.vercel.app/noise.svg") repeat;
  background-size: 50%;
  opacity: 0.1; 
  pointer-events: none;
  z-index: 0;
}


flynt-component[name='BlockAbout'] > * {
  position: relative;
  z-index: 1;
}
