flynt-component[name='BlockHero'] {

  /* Full-width background */
  background-image: var(--hero-bg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  block-size: 68.4rem;

  color: #fff;

  display: flex;
  font-family: var(--font-family-body);
  font-size: var(--font-size-small);
  inline-size: 100%;
  position: relative;

  .hero-container {
    block-size: 100%;

    display: flex;
    inline-size: 100%;
    margin-block: 0;
    margin-inline: auto;
    max-inline-size: 144rem;
    position: relative;
    z-index: 2;
  }

  .hero-left {
    block-size: 100%;
    display: flex;
    flex-direction: column;

    h1 {
      color: var(--color-secondary);
      font-size: 1.5rem;
      font-weight: 500;
      letter-spacing: 0.01rem;
      text-transform: uppercase;
    }

    h2 {
      font-size: 4.5rem;
      font-weight: 800;
      inline-size: 55rem;
      letter-spacing: 0.002rem;
      line-height: 5.6rem;
      margin-block: 1.5rem 1.6rem;
    }

    p {
      font-size: 1.5rem;
      font-weight: 300;
      inline-size: 45rem;
      letter-spacing: 0.012rem;
      line-height: 1.9rem;
      margin-block-end: 3.2rem;
    }

    .button {
      background-color: var(--color-secondary);
      border: 0;
      color: #0f0f0f;
      inline-size: 15.8rem;
      transition: 0.3s ease;

      &:hover {
        background-color: #b3b8fb;
      }
    }
  }

  .hero-text {
    margin-block-start: 18.8rem;
    margin-inline-start: 8.1rem;
  }

  .hero-right {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-block-start: 6.5rem;
    margin-inline: auto 8rem;
  }

  .bubble {  
    align-items: center;
    block-size: 12.2rem;
    border: 1px solid rgba(#fff, 0.2);
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-size: 1.4rem;
    inline-size: 12.2rem;
    justify-content: center;
    letter-spacing: 0.02rem;
    text-align: center;
  }

  .hero-arrow {
    inset-block-start: 62.2rem;
    inset-inline-start: 8rem;
    position: absolute;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.8;
      transform: translateY(0.5rem);
    }
  }
}

/* Full-bleed gradient overlay */
flynt-component[name='BlockHero']::before {
  background: linear-gradient(to right,
  rgba(#10001d, 0.5),
  rgba(0, 0, 0, 0));
  content: '';
  inset: 0;
  position: absolute;
  z-index: 1;
}

/* Ensure children sit above gradient */
flynt-component[name='BlockHero'] > * {
  position: relative;
  z-index: 2;
}

