flynt-component[name='ContactForm'] {
  font-size: 1.4rem;
  margin-block: 0;
  margin-inline: auto;


  .contact-form {
    padding-block: 6rem 0;
    padding-inline: 7rem 0;
  }

  .contact-title{
    margin-left: 15.8rem;
    margin-bottom: 2.8rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 300;
  }

  .form-group {
    inline-size: 50rem;
    padding-block: 1.1rem 0;
    padding-inline: 0;
  }

  .contact-form-input {
    background-color: transparent;
    block-size: 4.1rem;
    border: 0;
    border-block-end: 1px solid rgba(#fff, 0.2);
    color: #fff;
    inline-size: 21.6rem;
    letter-spacing: -0.015rem;
    margin-block-end: 1rem;
    margin-inline-end: 1.7rem;
    padding: 1.5rem;
    transition: 0.3s all;
  }

  .contact-form-input::placeholder {
    color: rgba(#fff, 0.8);
  }

  .contact-form-input:focus {
    border-block-end: 1px solid rgba(#fff, 0.4);
    outline: none;
  }


  .contact-form-textarea:focus {
    border-block-end: 1px solid rgba(#fff, 0.4);
    outline: none;
  }

  .contact-form-textarea {
    background-color: transparent;
    border: 0;
    border-block-end: 1px solid rgba(#fff, 0.2);
    color: #fff;
    inline-size: 45.2rem;
    letter-spacing: -0.015rem;
    line-height: 1.4;
    padding-block: 1rem 10.3rem;
    padding-inline-start: 1.5rem;
    resize: none;
    transition: 0.3s all;
  }


  .contact-form-textarea::placeholder {
    color: rgba(#fff, 0.8);
  }


  .button-submit {
    align-items: center;
    border: 0;
    color: var(--color-secondary);
    cursor: pointer;
    display: flex;
    font-size: 1.5rem;
    gap: 1.6rem;
    margin-block: 2rem 0;
    transition: all 0.3s ease;
    &:hover {
      opacity: 0.8;
    }
    &::after {
      content: '';
      display: inline-block;
      width: 3.2rem;
      height: 3.2rem;
      flex-shrink: 0;
      background-color: #D5D8FF;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><path d='M10.909 16H21.091' stroke='%2310001D' stroke-width='1.45455' stroke-linecap='round' stroke-linejoin='round'/><path d='M16 10.909L21.091 16 16 21.091' stroke='%2310001D' stroke-width='1.45455' stroke-linecap='round' stroke-linejoin='round'/></svg>");
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
    }
  }


  .privacy-checkbox{
    display: flex;
    color: #fff;
    opacity: 0.8;
    gap: 1.4rem;
    margin-top: 2rem;
    a{
      color: #fff;
      text-decoration: underline;
    }
    
    .myinput {
      margin-top: -0.2rem;
      appearance: none;
      -webkit-appearance: none;
      width: 2rem;
      height: 2rem;
      border-radius: 0.2rem;
      background: #fff;
      position: relative;
      cursor: pointer;
      transition: background-color 0.1s;
    }

    .myinput:checked {
      background-color: #BFC6CC;
    }

    .myinput:checked::after {
      inset: 0;
      position: absolute;
      content: url("data:image/svg+xml;utf8,\
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'>\
      <path d='M14 7L8.5 12.5L6 10' stroke='%2310001D' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/>\
      </svg>");
    }


  }

  .under-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 8rem 0 0;
  }

}


