flynt-component[name='ContactForm'] {
  font-size: 1.4rem;
  margin-block: 0;
  margin-inline: auto;


  .contact-form {
    padding-block: 7.9rem 0;
    padding-inline: 7rem 0;
  }

  .form-group {
    inline-size: 50rem;
    padding-block: 1.1rem 0;
    padding-inline: 0;
  }

  .contact-form-input {
    background-color: transparent;
    block-size: 4.1rem;
    border: 0;
    border-block-end: 1px solid rgba(#fff, 0.2);
    color: #fff;
    inline-size: 21.6rem;
    letter-spacing: -0.015rem;
    margin-block-end: 1rem;
    margin-inline-end: 1.7rem;
    padding: 1.5rem;
  }

  .contact-form-input::placeholder {
    color: rgba(#fff, 0.8);
  }

  .contact-form-input:focus {
    border-block-end: 1px solid rgba(#fff, 0.4);
    outline: none;
  }


  .contact-form-textarea:focus {
    border-block-end: 1px solid rgba(#fff, 0.4);
    outline: none;
  }

  .contact-form-textarea {
    background-color: transparent;
    border: 0;
    border-block-end: 1px solid rgba(#fff, 0.2);
    color: #fff;
    inline-size: 45.2rem;
    letter-spacing: -0.015rem;
    line-height: 1.4;
    padding-block: 1rem 10.3rem;
    padding-inline-start: 1.5rem;
    resize: none;
  }


  .contact-form-textarea::placeholder {
    color: rgba(#fff, 0.8);
  }


  .button-submit {
    align-items: center;
    border: 0;
    color: var(--color-secondary);
    cursor: pointer;
    display: flex;
    font-size: 1.5rem;
    gap: 1.6rem;
    margin-block: 2rem 0;
    margin-inline: 31.7rem 0;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.8;
    }
  }

}


