flynt-component[name='BlockNews']{
  background-color: #f3f2f3;


  .news-container{
    max-width: 144rem;
    margin: 0 auto;
    display: flex;
    height: 66.9rem;

    .news-left{
      margin-left: 8rem;
      margin-top: 19rem;
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
    }

    h2{
      font-size: 4.5rem;
      font-weight: 700;
      width: 46.6rem;
      color: #10001D;
      letter-spacing: 0.04rem;
      line-height: 5.6rem;
    }

    p{
      color: #0F0F0F;
      opacity: 0.6;
      width: 40rem;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2.3rem;
    }

    .link{
      margin-top: 1.9rem;
      text-decoration: none;
      font-size: 1.4rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 1.8rem;
      transition: all 0.3s ease;

      svg{
          transition: transform 0.3s ease;
      }

      &:hover{
        opacity: 0.7;

        svg{
          transform: translateX(0.6rem);
        }
      }
    }

    .news-list{
      position: relative;  
      display: flex;

      margin-top: 12rem;
      margin-left: 18.6rem;
      gap: 2.1rem;


      .date{
        position: absolute;
        font-size: 1.4rem;
        font-weight: 500;
        background-color: #000000;
        color: #FFFFFF;
        padding: 0.8rem 0.8rem 1rem 1rem;
        border-radius: 0.5rem 0rem 0.5rem 0rem;
        letter-spacing: 0.03rem;
        z-index: 2;
      }

      .news-item{
        width: 30.4rem;
        
        .thumbnail{
          width: 30.4rem;
          height: 37.5rem;
          border-radius: 0.5rem;
          margin-bottom: 1.6rem;
          transition: all 0.3s ease;
          &:hover{
            opacity: 0.9;
          }
        }

        link{
          font-size: 1.5rem;
          text-decoration: none;
          font-weight: 500;
          transition: all 0.3s ease;

          &:hover{
            opacity: 0.7;
          }
        }
      }
    }
  }


  
}