.wrapper {
  color: #a4a6a8;
  max-inline-size: 144rem;
}

.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-block: 9rem 7.4rem;
  padding-inline: 1rem 0;
}

.pagination a,
.pagination i {
  color: #a4a6a8;
  font-size: 1.4rem;
  padding-block: 1rem;
  padding-inline: 0.9rem;
  text-decoration: none;
}

.pagination a {
  background-color: transparent;
}

.active {
  align-items: center;
  background-color: #d5d8ff;
  block-size: 2.8rem;
  border-radius: 100rem;
  color: #000;
  display: flex;
  inline-size: 2.8rem;
  justify-content: center;
}

.disabled {
  opacity: 0.5;
}

.pagination a svg {
  margin-inline-end: 1rem;
}

.pagination a:last-child svg {
  margin-inline-start: 0.8rem;
}
