.wrapper{
    max-width: 144rem;
    color: #A4A6A8;

}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9rem 0 7.4rem 1rem;
    margin: auto;

}
#pagination a, #pagination i {
    font-size: 1.4rem;
    text-decoration: none;
    color: #A4A6A8;
    padding: 1rem 0.9rem;
  }

#pagination a {
    background-color: transparent;
    
}

.active{
    color: #000000;
    background-color: #D5D8FF;
    border-radius: 100rem;
    width: 2.8rem;
    height: 2.8rem; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.disabled{
    opacity: 0.5;
}

#pagination a svg {
    margin-right: 1rem;
}

#pagination a:last-child svg {
    margin-left: 0.8rem;
}
