flynt-component[name='BlockContacts'] {
  .form {
    background-color: #5d5e63;
    block-size: 53.2rem;
    border-radius: 0.2rem;
    font-variation-settings: 'CRSV' 0;
    inline-size: 59.2rem;
    margin-inline-end: -2rem;

    h1 {
      color: #ffff;
      font-size: 2rem;
      font-weight: 400;
      margin-block: 0 2.9rem;
      margin-inline: 13rem;
    }

    .form-group {
      margin-inline-start: -1rem;
    }

    .contact-form-input {
      background-color: transparent;
      block-size: 4.1rem;
      border: 0;
      border-block-end: 1px solid rgba(#fff, 0.2);
      color: #fff;
      inline-size: 21.6rem;
      letter-spacing: -0.015rem;
      margin-block-end: 2rem;
      margin-inline-end: 1.8rem;
      padding-block: 2rem;
      padding-inline: 1.4rem 0;
    }

    .under-form {
      margin-block-start: 0.2rem;
      margin-inline-start: -1rem;
      padding: 0;
    }

    .contact-form-input:focus {
      background-color: #d5d8ff12;
      border-block-end: 1px solid rgba(#fff, 0.4);
      outline: none;
      padding-block: 2rem;
      padding-inline: 0.8rem 0;
    }

    .contact-form-textarea {
      block-size: 10rem;
      padding-block: 2rem 9.8rem;
      padding-inline-start: 1.4rem;
    }

    .contact-form-textarea:focus {
      background-color: #d5d8ff12;
      padding-inline-start: 0.8rem;
    }

    .button-submit {
      background-color: #fff;
      block-size: 4.5rem;
      border-radius: 0.5rem;
      color: #10001d;
      display: flex;
      font-weight: 500;
      inline-size: 47.2rem;
      justify-content: center;

      &:hover {
        opacity: 0.8;
      }

      &::after {
        display: none;
      }
    }
    
  }

  .wrap {
    display: flex;
    justify-content: space-between;
    margin-inline-start: -2rem;
    padding-block: 8rem;
    padding-inline: 0;

    .title {
      font-size: 4.5rem;
      font-variation-settings: 'CRSV' 0;
      font-weight: 500;
      padding-block: 5rem 0.8rem;
      padding-inline: 0;
    }

    .paragraph {
      font-variation-settings: 'CRSV' 0;
      font-weight: 400;
      inline-size: 48rem;
      margin-block-end: 5rem;
    }
  }

  .contact-info {
    h1 {
      font-size: 2rem;
      font-variation-settings: 'CRSV' 0;
      font-weight: 500;
      margin-block-end: 2.8rem;
    }

    h2 {
      font-size: 1.6rem;
      margin-block-end: 1rem;
    } 
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 5rem;
    inline-size: 25rem;
  } 


  .socials {
    margin-block-start: 2rem;

    h1 {
      font-size: 1.6rem;
      font-variation-settings: 'CRSV' 1;
      font-weight: 600;
    }

    img {
      inline-size: 3.2rem;
      margin-block-start: -1.5rem;
    }
  }

}
