.menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 4rem 1.5rem 3.8rem 0;
  word-spacing: 0.1rem;

  .link {
    color: currentColor;
    text-decoration: none;
  }



  .link-item {
    width: fit-content;
    &:hover {
      .sub-menu {
        display: block;
      }
    }
  }

  .link-item:last-child {
    margin-right: 0;
  }


  .current-menu-item {
    > .link {
      color: var(--color-accent);
    }
  }
}
