.menu {
  align-items: center;
  display: flex;
  list-style: none;
  height: 13rem;

  .link {
    color: currentColor;
    text-decoration: none;
  }



  .link-item {
    width: fit-content;
    margin-right: 5.6rem;
    &:hover {
      .sub-menu {
        display: block;
      }
    }
  }

  .link-item:last-child {
    margin-right: 0;
  }


  .current-menu-item {
    > .link {
      color: var(--color-accent);
    }
  }
}
