.menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-block: 4rem 3.8rem;
  padding-inline: 0 1.5rem;
  word-spacing: 0.1rem;

  .link {
    color: currentColor;
    text-decoration: none;
  }



  .link-item {
    inline-size: fit-content;

    &:hover {
      .sub-menu {
        display: block;
      }
    }
  }

  .link-item:last-child {
    margin-inline-end: 0;
  }
}
