flynt-component[name='GridPostsArchive'] {
  .posts-header{
    display: flex;
    justify-content: space-between;
    color: #10001D;
    align-items: center;
    margin-top: 6rem;
    margin-left: -2rem;
    width: 128rem;
    border-bottom: 1px solid rgba($color: #210A00, $alpha: 0.1);
    padding-bottom: 3.1rem;

    h2{
      font-size: 4.5rem;
      font-weight: 800;
      margin-right: 2.4rem;
      width: 50rem;
      line-height: 5.6rem;
    }

    p{
      width: 40rem;
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1.9rem;
      letter-spacing: 0.012rem;
      margin-right: 0.2rem;
    }
  }

  .news-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 30.4rem);
    column-gap: 2.1rem;
    row-gap: 5rem;
    margin-top: 6rem;
    margin-left: -2rem;
  }

  .news-list .date {
    position: absolute;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: #000000;
    color: #FFFFFF;
    padding: 0.8rem 0.8rem 1rem 1rem;
    border-radius: 0.5rem 0rem 0.5rem 0rem;
    letter-spacing: 0.03rem;
    z-index: 2;
  }

  .news-list .news-item {
    width: 30.4rem;
  }
  
  .thumbnail {
    width: 30.4rem;
    height: 37.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1.6rem;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.9;
    }
  }

  .post-link {
    font-size: 1.5rem;
    text-decoration: none;
    p{
      width: 28.4rem;
      line-height: 1.9rem;
      font-weight: 500;
      transition: all 0.3s ease;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  @import 'Partials/pagination';
}



