flynt-component[name='GridPostsArchive'] {
  .posts-header {
    align-items: center;
    border-block-end: 1px solid rgba($color: #210a00, $alpha: 0.1);
    color: #10001d;
    display: flex;
    inline-size: 128rem;
    justify-content: space-between;
    margin-block-start: 6rem;
    margin-inline-start: -2rem;
    padding-block-end: 3.1rem;

    h2 {
      font-size: 4.5rem;
      font-weight: 800;
      inline-size: 50rem;
      line-height: 5.6rem;
      margin-inline-end: 2.4rem;
    }

    p {
      font-size: 1.5rem;
      font-weight: 300;
      inline-size: 40rem;
      letter-spacing: 0.012rem;
      line-height: 1.9rem;
      margin-inline-end: 0.2rem;
    }
  }

  .news-list {
    column-gap: 2.1rem;
    display: grid;
    grid-template-columns: repeat(4, 30.4rem);
    margin-block-start: 6rem;
    margin-inline-start: -2rem;
    position: relative;
    row-gap: 5rem;
  }

  .news-list .date {
    background-color: #10001d;
    border-radius: 0.5rem 0;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.03rem;
    padding-block: 0.8rem 1rem;
    padding-inline: 1rem 0.8rem;
    position: absolute;
    z-index: 2;
  }

  .news-list .news-item {
    inline-size: 30.4rem;
  }
  
  .thumbnail {
    block-size: 37.5rem;
    border-radius: 0.5rem;
    inline-size: 30.4rem;
    margin-block-end: 1.6rem;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.9;
    }
  }

  .post-link {
    font-size: 1.5rem;
    text-decoration: none;

    p {
      font-weight: 500;
      inline-size: 28.4rem;
      line-height: 1.9rem;
      transition: all 0.3s ease;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  @import 'Partials/pagination';
}



