flynt-component[name='BlockActivities'] {
  background-color: #10001D;
  overflow: hidden;
  background-size: cover;
  height: 72.7rem;
  


  .activities-container {
    display: flex;
    flex-direction: row;  /* FIX: keep items horizontal */
    align-items: flex-start;
    justify-content: space-between;
    gap: 4rem;
    max-width: 144rem;
    margin: 0 auto;
    position: relative;
    flex-wrap: nowrap; /* IMPORTANT */
  }


    .dotted-overlay{
      position: absolute;
      right: 0;
      z-index: 0;
    }


    .activities-left{
      margin-top: 20.2rem;
      margin-left: 8rem;
      z-index: 1;

      h1{
        font-size: 4.5rem;
        font-weight: 800;
        line-height: 3.8rem;
      }

      p{
        margin-top: 2.5rem;
        line-height: 2.1rem;
        letter-spacing: 0.008em;
        width: 44.3rem;
      }
    }

    .activities-right {
      width: 75.7rem;
      margin-left: 15.6rem;
      margin-top: 12rem;
      flex-wrap: nowrap;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
        
      
      .activities-list{
        display: flex;
        flex-direction: row;
        gap: 1.6rem;
        flex-wrap: nowrap;
        overflow-x: hidden;
        z-index: 1;
      }


      .activities-slider{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3rem;
        align-self: end;
        margin-top: 3rem;
        margin-right: 8rem;

        .dots{
          display: flex;
          flex-direction: row;
          gap: 0.7rem;
        }

        
        .point{
          background-color: #D5D8FF;
          height: 0.7rem;
          width: 0.7rem;
          opacity: 0.2;
          border-radius: 100%;
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover{
            opacity: 0.5;
          }
          &.active{
            opacity: 1;
          }
        }

        .arrows{
          display: flex;
          flex-direction: row;
          gap: 1.2rem;
          
        }
        
        .swipe-left, .swipe-right{
          display: flex;
          background-color: white;
          border-radius: 0.6rem;
          border: none;
          cursor: pointer;
          height: 4.4rem;
          width: 4.4rem;
          justify-content: center;
          align-items: center;
          transition: all 0.3s ease;

          &:hover{
            opacity: 0.8;
          }
        }
      }
    }

    

    .activity-item {
      flex-shrink: 0;
      width: 64.1rem;
      height: fit-content;
      background-color: #231633;
      padding:3.2rem 3.6rem;
      border-radius: 1.5rem;
      position: relative;

      h2{
        font-size: 2rem;
        font-weight: 700;
        line-height: 3.2rem;
        width: 50rem;
        line-height: 2.5rem;
      }

      p{
        margin-top: 2rem;
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 2.1rem;
        letter-spacing: 0.01rem;
        width: 56.9rem;
        letter-spacing: 0.06rem;
      }
    }
  

  .activities-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .dotted-overlay{
      left: 0;
      bottom:0;
    }

    h1{
      margin-top: 11.6rem;
      font-size: 1.6rem;
      color: var(--color-secondary);
      font-weight: 500;
    }
  }
}


/* NOISE OVERLAY */
flynt-component[name='BlockActivities']::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("https://grainy-gradients.vercel.app/noise.svg") repeat;
  background-size: 50%;
  opacity: 0.1; 
  pointer-events: none;
  z-index: 0;
}