flynt-component[name='BlockActivities'] {
  background-color: #10001d;
  background-size: cover;
  block-size: 72.7rem;
  overflow: hidden;
  


  .activities-container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4rem;
    justify-content: space-between;
    margin-block: 0;
    margin-inline: auto;
    max-inline-size: 144rem;
    position: relative;
  }


  .dotted-overlay {
    inset-inline-end: 0;
    position: absolute;
    z-index: 0;
  }


  .activities-left {
    margin-block-start: 20.2rem;
    margin-inline-start: 8rem;
    z-index: 1;

    h1 {
      font-size: 4.5rem;
      font-weight: 800;
      line-height: 3.8rem;
    }

    p {
      inline-size: 44.3rem;
      letter-spacing: 0.008em;
      line-height: 2.1rem;
      margin-block-start: 2.5rem;
    }
  }

  .activities-right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    inline-size: 75.7rem;
    margin-block-start: 12rem;
    margin-inline-start: 15.6rem;
    overflow-x: hidden;
        
      
    .activities-list {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 1.6rem;
      overflow-x: hidden;
      z-index: 1;
    }


    .activities-slider {
      align-items: center;
      align-self: end;
      display: flex;
      flex-direction: row;
      gap: 3rem;
      margin-block-start: 3rem;
      margin-inline-end: 8rem;

      .dots {
        display: flex;
        flex-direction: row;
        gap: 0.7rem;
      }

        
      .point {
        background-color: #d5d8ff;
        block-size: 0.7rem;
        border-radius: 100%;
        cursor: pointer;
        inline-size: 0.7rem;
        opacity: 0.2;
        transition: all 0.3s ease;

        &:hover {
          opacity: 0.5;
        }

        &.active {
          opacity: 1;
        }
      }

      .arrows {
        display: flex;
        flex-direction: row;
        gap: 1.2rem;
          
      }
        
      .swipe-left,
      .swipe-right {
        align-items: center;
        background-color: #fff;
        block-size: 4.4rem;
        border: 0;
        border-radius: 0.6rem;
        cursor: pointer;
        display: flex;
        inline-size: 4.4rem;
        justify-content: center;
        transition: all 0.3s ease;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

    

  .activity-item {
    background-color: #231633;
    block-size: fit-content;
    border-radius: 1.5rem;
    flex-shrink: 0;
    inline-size: 64.1rem;
    padding-block: 3.2rem;
    padding-inline: 3.6rem;
    position: relative;

    h2 {
      font-size: 2rem;
      font-weight: 700;
      inline-size: 50rem;
      line-height: 3.2rem;
      line-height: 2.5rem;
    }

    p {
      font-size: 1.4rem;
      font-weight: 300;
      inline-size: 56.9rem;
      letter-spacing: 0.01rem;
      letter-spacing: 0.06rem;
      line-height: 2.1rem;
      margin-block-start: 2rem;
    }
  }
  

  .activities-bottom {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-block: 0;
    margin-inline: auto;
    max-inline-size: 144rem;
    position: relative;
    text-align: center;

    .dotted-overlay {
      inset-block-end: -3rem;
      inset-inline-start: 0;
    }

    h1 {
      color: var(--color-secondary);
      font-size: 1.6rem;
      font-weight: 500;
      margin-block-start: 11.6rem;
    }
  }
}


/* NOISE OVERLAY */
flynt-component[name='BlockActivities']::before {
  background: url('https://grainy-gradients.vercel.app/noise.svg') repeat;
  background-size: 50%;
  content: '';
  inset: 0;
  opacity: 0.1;
  pointer-events: none;
  position: absolute;
  z-index: 0;
}
