flynt-component[name='BlockEventGrid'] {
  color: #10001d;

  .wrapper {
    margin-block: 0;
    margin-inline: auto;
    max-inline-size: 144rem;
  }

  .heading {
    align-items: center;
    border-block-end: 1px solid #e0e0e0;
    display: flex;
    inline-size: 128rem;
    justify-content: space-between;
    margin-block: 0;
    margin-inline: auto;
    padding-block: 6rem 2.9rem;
    padding-inline: 0;
  }

  .title {
    font-size: 4.5rem;
    font-weight: 800;
  }

  .subtitle {
    font-size: 1.5rem;
    font-variation-settings: 'CRSV' 0;
    font-weight: 400;
    inline-size: 42rem;
    text-align: end;
  }

  .grid {
    display: flex;
    gap: 1.6rem;
    justify-content: center;
    padding-block: 6.1rem 10rem;
    padding-inline: 8rem;
  }

  .event-card {
    background-color: #fff;
    block-size: 47rem;
    border: 1px solid #efefef;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 3.1rem 0 rgba(#a4a6a840, 0.25);
    inline-size: 41.6rem;
    overflow: hidden;
  }


  .event-thumbnail {
    block-size: 22rem;
    inline-size: 41.6rem;
  }


  .event-date {
    background-color: #10001d;
    border-radius: 0.5rem 0;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.03rem;
    padding-block: 0.8rem;
    padding-inline: 1.4rem;
    position: absolute;
    z-index: 2;
  }

  .event-title {
    font-size: 2rem;
    font-weight: 600;
    inline-size: 35.6rem;
    margin-block: 0;
    margin-block-start: 2.7rem;
    margin-inline: auto;
  }


  .event-description {
    font-size: 1.5rem;
    font-weight: 400;
    inline-size: 35.6rem;
    margin-block: 0;
    margin-block-start: 1.2rem;
    margin-inline: auto;
  }

  .event-button {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    font-variation-settings: 'CRSV' 0;
    font-weight: 400;
    gap: 1.6rem;
    margin-block: 3.7rem 0;
    margin-inline: 24.9rem 0;
    text-decoration: none;
  }

  .event-button__icon {
    block-size: 3.2rem;
    inline-size: 3.2rem;
    position: relative;
  }

  .event-button__icon .icon {
    align-items: center;
    display: flex;
    inset: 0;
    justify-content: center;
    position: absolute;
    transition: 0.25s ease-in-out all;
  }

  .event-button__icon .icon--hover {
    opacity: 0;
    transform: rotate(-45deg);
  }

  .event-button:hover .icon--default {
    opacity: 0;
    transform: rotate(45deg);
  }

  .event-button:hover .icon--hover {
    opacity: 1;
    transform: rotate(0deg);
  }


  .info-box {
    align-items: center;
    block-size: 47rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    inline-size: 41.6rem;
    justify-content: center;
    position: absolute;
    text-align: center;

    h1 {
      font-size: 3rem;
      font-weight: 600;
      inline-size: 28rem;
    }

    p {
      font-size: 1.5rem;
      font-variation-settings: 'CRSV' 0;
      font-weight: 400;
    }
  }

}
