flynt-component[name='BlockReviews'] {
  background-color: #090010;
  block-size: 57.6rem;
  color: #fff;

  .reviews-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-block: 0;
    margin-inline: auto;
    max-inline-size: 144rem;
    text-align: center;

    h1 {
      font-size: 2rem;
      font-weight: 700;
      margin-block-start: 2.7rem;
      margin-inline-end: 1.6rem;
    }
  }


  .reviews-container {
    display: flex;
    gap: 2.2rem;
    justify-content: center;
    margin-block-start: 4.6rem;
  }

  .review-item {
    background-color: #10001d;
    block-size: fit-content;
    border-radius: 1rem;
    inline-size: 63rem;
    padding-block: 4rem 2rem;
    padding-inline: 3.4rem;
    text-align: start;

    .review-top {
      display: flex;
      justify-content: space-between;
     
      .review-name {
        align-items: center;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        gap: 1.1rem;
      }

      .review-place {
        display: flex;
        font-size: 1.4rem;
        font-weight: 700;
        gap: 0.56rem;
        margin-block-start: 0.5rem;
        margin-inline-end: 0.2rem;
      }
    }

    .review-text {
      font-size: 1.4rem;
      inline-size: 56rem;
      margin-block-start: 2rem;
    }


    .review-comment {
      background-color: rgba(213, 216, 255, 0.1);
      border-radius: 1rem;
      color: #d5d8ff;
      font-size: 1.5rem;
      font-weight: 400;
      inline-size: 58rem;
      line-height: 2.1rem;
      margin-block-start: 3rem;
      margin-inline-start: -0.9rem;
      padding-block: 1.6rem;
      padding-inline: 1.6rem;

    }
  }
}
