flynt-component[name='BlockReviews'] {
  background-color: #090010;
  height: 57.6rem;  

  .reviews-wrapper{
    max-width: 144rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1{
      font-size: 2rem;
      font-weight: 700;
      margin-top: 2.7rem;
      margin-right: 1.6rem;
    }
  }


  .reviews-container{
    display: flex;
    justify-content: center;
    margin-top: 4.6rem;
    gap: 2.2rem;
  }

  .review-item {
    background-color: #10001D;
    text-align: left;
    width: 63rem;
    height: fit-content;
    padding: 4rem 3.4rem 2rem 3.4rem;
    border-radius: 1rem;

    .review-top{
      display: flex;
      justify-content: space-between;
     
      .review-name{
        display: flex;
        align-items: center;
        font-size: 2rem;
        font-weight: 700;
        gap: 1.1rem;
      }

      .review-place{
        display: flex;  
        gap: 0.56rem;
        margin-top: 0.5rem;
        margin-right: 0.2rem;
        font-size: 1.4rem;
        font-weight: 700;
      }
    }
    .review-text{
      margin-top: 2rem;
      font-size: 1.4rem;
      width: 56rem;
    }


    .review-comment{
      background-color: rgba(213, 216, 255, 0.1);
      color: #D5D8FF;
      font-size: 1.5rem;
      font-weight: 400;
      border-radius: 1rem;
      width: 58rem;
      padding: 1.6rem 1.6rem;
      line-height: 2.1rem;
      margin-top: 3rem;
      margin-left: -0.9rem;

    }
  }
}